Source: ros-humble-andino-bringup
Section: misc
Priority: optional
Maintainer: Franco Cipollone <franco.c@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-andino-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-andino-control, ros-humble-andino-description, ros-humble-joy-linux, ros-humble-laser-filters, ros-humble-rosbag2-storage-mcap, ros-humble-rplidar-ros, ros-humble-teleop-twist-joy, ros-humble-v4l2-camera, xterm, ros-humble-ros-workspace
Description: Contains launch files to bring up andinobot robot.
