Source: ros-humble-andino-gz-classic
Section: misc
Priority: optional
Maintainer: Olmer Garcia <olmerg@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-andino-gz-classic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-andino-control, ros-humble-andino-description, ros-humble-control-msgs, ros-humble-gazebo-ros, ros-humble-gazebo-ros-pkgs, ros-humble-gazebo-ros2-control, ros-humble-robot-state-publisher, ros-humble-ros2launch, ros-humble-rviz2, ros-humble-xacro, ros-humble-ros-workspace
Description: Launch Gazebo simulation with Andino
